body{
  overflow: visible;
  /* opacity: 0.75; */
  background-image: url(Gambar/Walpaper.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat;
  background-position: center; */
  }
  .header{
      display: flex;
      flex-direction: row;
  }
  .gambar{
      flex: 2;
  }
  .nav{
      flex: 1;
  }
  .header .nav ul li{
    display: inline;
    padding-right: 70px;

  }
  .header .nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Just Me Again Down Here', cursive;
    font-weight: 100;
    font-size: 50px;
  }
  .judul{
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 50px;
    color: white;
    padding-left: 150px;
  }
  .button{
      margin-left: 150px;
      padding-left: 20px;
      font-size: 30px;
      background-color: rgb(255, 81, 0);
      width: 200px;
      border-radius: 5px;
      margin-top: -70px;
  }
  .button a{
    text-decoration: none;
    color: white;
  }
